* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {

}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #2fa18e 0%, #2fa18e 10%, lightgray 10%, lightgray 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#message-app {
    width: 80vw;
    height: 95vh;
    background-color: pink;

}

#app-left {
    width: 34%;
    height: 100%;
    background-color: yellow;
    float: left;
}

#app-right {
    width: 66%;
    height: 100%;
    background-color: red;
    float: left;
}
