* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {

}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, #2fa18e 0%, #2fa18e 10%, lightgray 10%, lightgray 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#messageApp {
    width: 80vw;
    height: 95vh;
    background-color: pink;
}
